body
{
    color: rgb(20, 188, 255);
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

#cabecera {
    background-color: #7FFFD4; /* Color de fondo azul agua marina */
    color: rgb(10, 6, 6); /* Color de texto blanco */
    font-size: larger;
    font-weight: bold;
    padding: 10px; /* Reduce el espaciado interno para hacer el fondo más pequeño */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Aumenta la sombra para que sea más visible */
}
/* Estilos generales para el formulario */
form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Cambia el ancho a 100% */
    max-width: 300px; /* Añade un ancho máximo para evitar que el formulario sea demasiado ancho en pantallas grandes */
    margin: 0 auto;
}

/* Estilos para las etiquetas del formulario */
form label {
    margin: 10px 0;
    font-weight: bold;
}

/* Estilos para los campos de entrada del formulario */
form input[type="text"], form input[type="email"], form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Cambia el ancho a 100% */
    box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho total */
}

/* Estilos para el botón de envío del formulario */
form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Cambia el ancho a 100% */
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}